---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<h2><a href="https://www.nvidia.com/en-us/geforce/news/nvidia-app-beta-download/">Controle panel d'Nvidia</a></h2> 
		<p>La nouvelle version bêta de l'application NVIDIA : le compagnon essentiel pour les joueurs et les créateurs sur PC <strong>(February 22, 2024)</strong></p>
		<img
					width="553"
					height="873"
					src="/assets/control.jpg"
					alt=""
				/>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2><a href="https://www.hardwarecooking.fr/gpu-nvidia-rtx-5000-configuration-memoire/">GPU NVIDIA RTX 5000</a></h2> 
		<p>GPU NVIDIA RTX 5000 : encore de nouvelles informations sur la configuration ! <strong>(9 mars 2024)</strong></p>

		<img
					width="553"
					height="873"
					src="/assets/5000.jpg"
					alt=""
				/>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2><a href="https://www.bfmtv.com/tech/tests/test-de-la-msi-claw-que-vaut-la-premiere-console-pc-portable-sous-intel_AV-202403090027.html">TEST DE LA MSI CLAW</a></h2> 
		<p>Que vaut la premiere console PC portable sous intel ? <strong>(09/03/2024)</strong></p>
		<img
					width="553"
					height="873"
					src="/assets/msi.jpg"
					alt=""
				/>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2><a href="https://blogs.nvidia.com/blog/foxconn-nvidia-electric-vehicle/?ncid=em-news-484650-vt03&mkt_tok=MTU2LU9GTi03NDIAAAGPKHsjqE6Ho7Tv3ku0133zBqIThQSdodtUhQZBNLszmGXVoL_FkrqN8w5M85Af-YUIT2uBaWwYQSq2BarhSue6rI0cVfNmNRxuB4ju6CG59sv-bj9g5lw">NVIDIA et Foxconn</a></h2> 
		<p>Foxconn et NVIDIA renforcent l'innovation dans les véhicules électriques <strong>(Oct 17, 2023)</strong></p>
		<img
					width="553"
					height="873"
					src="/assets/foxcon.jpg"
					alt=""
				/>
	</div>
	<div class="stack gap-2 lg:gap-4">
				<h2><a href="https://developer.nvidia.com/blog/networking-for-data-centers-and-the-era-of-ai/?mkt_tok=MTU2LU9GTi03NDIAAAGO6IhpIBZtX1gddCGP95UPh898Kd8dwA0v3QtEdSdJsbxhy8UN3Z41kp1EokM4u0c7z777bQwHWC9OAn-VkBzvD6HllRQeJpprMo67_304QPSz5ppvr-U">NVIDIA Spectrum-X</a></h2>
				<p>La mise en réseau pour les centres de données et l'ère de l'IA <strong>(Oct 12, 2023)</strong></p>
				<img
				width="553"
				height="873"
				src="/assets/spectrumX.jpg"
				alt=""
			/>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2><a href="https://developer.nvidia.com/blog/unlock-faster-image-generation-in-stable-diffusion-web-ui-with-nvidia-tensorrt/?mkt_tok=MTU2LU9GTi03NDIAAAGO6IhpIM-26yJdnJ7Ad9UudLOQJSdwHqYNa7QucBDrBjWNf3VT6Tml5wAhS0W_Lm8uhkaOTVPfSkNLHWrSfJvT9sOt8rhozDRXtsKk8L48AhJwVAfhSmg">NVIDIA TensorRT</a></h2>
		<p>Débloquez une génération d'images plus rapide dans l'interface utilisateur Web avec NVIDIA TensorRT" <strong>(Oct 17, 2023):</strong></p>
			<img
				width="1553"
				height="873"
				src="/assets/TensorRT.jpg"
				alt=""
			/>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
